@import url(https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap);
:root {
  /*---------- colors ----------*/
  --gold: rgb(240, 205, 6);
  --gold-2: rgb(163, 148, 63);

  --white: white;

  /*----------- fonts -----------*/
  --font-title: 'Great Vibes', cursive;
  --font-text: 'Delius Swash Caps', cursive;

  /*----------- size -----------*/
  --size-small: 10px;
  --size-medium: 20px;
  --size-large: 50px;
  --size-extra-large: 80px;

  /*------- border-radius -------*/
  --border-radius-small: 4px;
  --border-radius: 8px;

  /*---------- shadow -----------*/
  --box-shadow: 0 0 15px rgb(145, 143, 143);
  --text-shadow: 0 0 15px rgb(145, 143, 143);
  --text-shadow-gold-small: 0 0 2px var(--gold);
  --text-shadow-gold: 0 0 10px var(--gold);
  
  /*---------- shadow -----------*/
  --blink-in-gold: blink-in-gold 2s infinite;

  /*-------- screen size -------*/
  --phone: 600px;
  --tablet: 768px;
  --desktop: 1024px;
}


/* -------------------------- animations */
@keyframes blink-in-gold {
  0% {
    text-shadow: var(--text-shadow-gold-small);
    transform: scale(1.01);
    /* color: var(--white); */
  }
  50% {
    text-shadow: none;
    transform: scale(1);
    /* color: var(--gold-2); */
  }
  100% {
    text-shadow: var(--text-shadow-gold-small);
    transform: scale(1.01);
    /* color: var(--white); */
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: var(--font-text);
  font-size: 16px;
  /* background: linear-gradient(#fefefe, #e6d579); */
  background: #fcf3ea;
  scroll-behavior: smooth;
}

.drop-shadow {
  filter: drop-shadow(0 0 0.35rem var(--gold));
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 0 40px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    padding: 0 20px;
  }
}

:root {
  /*---------- colors ----------*/
  --gold: rgb(240, 205, 6);
  --gold-2: rgb(163, 148, 63);

  --white: white;

  /*----------- fonts -----------*/
  --font-title: 'Great Vibes', cursive;
  --font-text: 'Delius Swash Caps', cursive;

  /*----------- size -----------*/
  --size-small: 10px;
  --size-medium: 20px;
  --size-large: 50px;
  --size-extra-large: 80px;

  /*------- border-radius -------*/
  --border-radius-small: 4px;
  --border-radius: 8px;

  /*---------- shadow -----------*/
  --box-shadow: 0 0 15px rgb(145, 143, 143);
  --text-shadow: 0 0 15px rgb(145, 143, 143);
  --text-shadow-gold-small: 0 0 2px var(--gold);
  --text-shadow-gold: 0 0 10px var(--gold);
  
  /*---------- shadow -----------*/
  --blink-in-gold: blink-in-gold 2s infinite;

  /*-------- screen size -------*/
  --phone: 600px;
  --tablet: 768px;
  --desktop: 1024px;
}


/* -------------------------- animations */
@keyframes blink-in-gold {
  0% {
    text-shadow: var(--text-shadow-gold-small);
    transform: scale(1.01);
    /* color: var(--white); */
  }
  50% {
    text-shadow: none;
    transform: scale(1);
    /* color: var(--gold-2); */
  }
  100% {
    text-shadow: var(--text-shadow-gold-small);
    transform: scale(1.01);
    /* color: var(--white); */
  }
}
/* NOTE: I only tested this on Google Chrome.*/

body{
  /* background: #FBD4C5; */
}

.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* margin-top: 100px; */
}

.container h1:nth-child(1) {
  color: #355c7d;
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
  animation: type 2s steps(40,end) forwards;
}

.container h1:nth-child(2) {
  opacity: 0;
  font-family: "Work Sans", sans-serif;
  margin: 0 auto auto auto;
  background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
  font-weight: 800;
  font-size: 100px;
  width: 98%;
  max-width: 430px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: shring-animation 2.2s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;
}

@media screen and (max-width: 600px) {
  .container h1:nth-child(2) {
    font-size: 80px;
    width: 98%;
    max-width: 430px;
  }
}

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid orange;
  }
  100%{
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.navbar {
  display: flex;
}

.navbar ul.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar ul.menu li {
  margin: 0 20px;
}
.navbar ul.menu li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 1px 10px #ebebeb;
  background-color: rgba(255, 255, 255, .3);
  z-index: 5;
}

.header img {
  height: 50px;
}

.header .icon-profile {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.header__menu--web {
  display: flex;
}

.header__menu--mobile {
  display: none;
}

.header__menu--mobile img {
  width: 40px;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 10px;
  }

  .header img {
    height: 40px;
  }

  .header__menu--web {
    display: none;
  }

  .header__menu--mobile {
    display: inherit;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('https://res.cloudinary.com/starlink/image/upload/v1642319456/he/wedding-gd8e4ffa9e_1920_jdab2l.jpg');
  background-size: cover;
  background-position: top;
}

.hero__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: opacity(.5);
  background: #000;
}

.hero__body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  justify-content: center;
}

.hero__body--title {
  font-family: 'Great Vibes', cursive;
  font-size: 70px;
  letter-spacing: 2px;
  color: white;
  align-self: end;
}

.hero__body--arrow {
  max-width: 70%;
  height: 120px;
  justify-self: center;
  animation: 2s 1 spinn;
  /* animation: 4s 1 fadeIm; */
}

.hero__body--date {
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 30px;
  justify-self: center;
}

@media screen and (max-width: 600px) {
  .hero {
    /* height: 400px; */
  }
  .hero__body--title {
    font-size: 40px;
  }
  .hero__body--arrow {
    height: 90px;
  }
}

.charOpacity {
  display: inline;
  animation-name: fadeInAnimationStyle;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes fadeIm {
  0% {
    opacity: .1;
    transform: scale(.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }

}

@keyframes fadeInAnimationStyle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spinn {
  0% {
    transform: rotateY(0deg) scale(.2);
  }
  25% {
    transform: rotateY(90deg) scale(.3);
  }
  50% {
    transform: rotateY(180deg) scale(.5);
  }
  75% {
    transform: rotateY(270deg) scale(.7);
  }
  100% {
    transform: rotateY(380deg) scale(1);
  }
}

/*---------------------------- container  */
.invitation {
  position: relative;
  width: fit-content;
  max-width: 50%;
  margin: var(--size-large) auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow);
  text-align: center;
  border-radius: var(--border-radius-small);
}

.invitation::after {
  content: '';
  position: absolute;
  top: var(--size-medium);
  bottom: var(--size-medium);
  left: var(--size-medium);
  right: var(--size-medium);
  border: 2px solid gold;
}

/*---------------------------- header  */
.invitation__header {
  position: relative;
}

.invitation__header img {
  width: 100%;
  margin: 0 auto;
  filter: saturate(0.6);
  border-top-left-radius: var(--border-radius-small);
  border-top-right-radius: var(--border-radius-small);
}

.invitation__header h2 {
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  color: var(--white);
  font-size: 3.5rem;
  font-family: var(--font-title);
  text-shadow: var(--text-shadow-gold);
}

/*---------------------------- body  */
.invitation__body p {
  margin-top: var(--size-medium);
  font-size: 1rem;
}

.invitation__body button {
  margin: var(--size-large) 0;
  font-family: var(--font-text);
  font-size: 1.5rem;
  color: var(--gold-2);
  text-align: center;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  text-shadow: 0 0 1px gray;
  outline: none;
  border: none;
  cursor: pointer;
  transition: .2s;
  animation: var(--blink-in-gold);
}

.invitation button:hover {
  text-shadow: 0 0 10px pink;
  letter-spacing: .3px;
  cursor: pointer;
}

.invitation button:active {
  transform: scale(1.2);
  text-shadow: 0 0 10px pink;
}

/*----------------------------*/

@media screen and (max-width: 1024px) {
  .invitation {
    max-width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .invitation {
    max-width: 70%;
  }

  .invitation__header h2 {
  font-size: 3rem;
  }

  .invitation__body p {
    font-size: .85rem;
  }
}

@media screen and (max-width: 600px) {
  .invitation {
    max-width: 80%;
  }

  .invitation::after {
    content: '';
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
  }

  .invitation__header h2 {
    font-size: 2.5rem;
  }

  .invitation__body p {
    margin-top: calc(var(--size-medium)*2);
    font-size: .65rem;
  }

  .invitation__body button {
    margin: var(--size-medium) 0;
    font-size: 1.3rem;
  }
}

.center {
  text-align: center;
  margin: 150px 0;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  overflow: auto;
}

.modal__container {
  position: relative;
  top: 3rem;
  width: 60%;
  border-radius: 10px;
}

.modal__container > img {
  position: absolute;
  width: 100%;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid yellow;
  color: yellow;
  background-color: transparent;
  cursor: pointer;
}

.modal__close:hover {
  border: 2px red;
  color: gray;
  background-color: red;
}

@media screen and (max-width: 1024px) {
  .modal__container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .modal__container {
    width: 90%;
  }
}
.wrapper {
  width: 90%;
  max-width: 1024px;
  margin: 150px auto;
  padding: 20px 1%;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 10px #f0e8e8;
  box-shadow: inset 0 0 20px #a28696;
}
.go-down {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1%;
  font-size: 1.3rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  color: pink;
  text-align: center;
  animation: fade 6s 1;
  text-shadow: 0 0 2px pink;
}

.go-down img {
  align-self: center;
  width: 2.5rem;
}

.main {
  position: relative;
  /* margin-bottom: 150px; */
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 150px;
}

.main img.profile {
  position: absolute;
  top: -100px;
  right: 0;
  left: 0;
  width: 180px;
  margin: 0 auto;
  border: 8px solid white;
  border-radius: 50%;
  box-shadow: 0 0 10px #f0e8e8;
  box-shadow: 0 0 10px #a28696;
}

@keyframes fade {
  0% {
    transform: scale(.1);
    opacity: .0;
  }
  80% {
    transform: scale(.1);
    opacity: .2;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
